<div class="d-block mt-3">
    <div class="row">
        <div class="col-lg-6" *ngIf="!id">
            <div class="d-block mt-5">

                <h1 class="text mb-4">
                    <i class="fa fa-wrench"></i>
                </h1>

                <h1 class="text">Add Mechanic to the Database</h1>

                <p class="mt-4">
                    Do you know someone who knows how to repair bikes, cars and trucks?? Add the mechanic in our system
                    to help others to find this mechanic whenever someone needs help on this way!!
                </p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card bg-light mt-5">
                <div class="card-body">
                    <h5 class="mb-3">{{ id ? 'Update' : 'Add A' }} Mechanic</h5>
                    <form [formGroup]="form" (submit)="submit()">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" name="title" id="title" aria-describedby="title"
                                placeholder="Title" formControlName="title">
                            <small id="title" class="form-text text-muted">Required</small>
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" placeholder="Description" name="description" id="description"
                                rows="3" formControlName="description"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="address">Address</label>
                            <textarea class="form-control" placeholder="Address" name="address" id="address" rows="3"
                                formControlName="address"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="pincode">Pincode</label>
                            <input type="number" class="form-control" name="pincode" id="pincode"
                                aria-describedby="pincode" placeholder="Pincode" formControlName="pincode">
                            <small id="pincode" class="form-text text-muted">Required</small>
                        </div>

                        <div class="form-group">
                            <label for="rating">Rating</label>
                            <input type="number" class="form-control" name="rating" id="rating"
                                aria-describedby="rating" placeholder="Rating" formControlName="rating">
                            <small id="rating" class="form-text text-muted">Required</small>
                        </div>

                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" name="phone" id="phone" aria-describedby="phone"
                                placeholder="Phone" formControlName="phone">
                            <small id="phone" class="form-text text-muted">Required</small>
                        </div>

                        <div class="form-group">
                            <label for="visiting_charges">Visiting Charges</label>
                            <input type="number" class="form-control" name="visiting_charges" id="visiting_charges"
                                aria-describedby="visiting_charges" placeholder="Visiting Charges"
                                formControlName="visiting_charges">
                            <small id="visiting_charges" class="form-text text-muted">Required</small>
                        </div>

                        <div class="form-group">
                            <label for="experienced_in">Experienced In</label>
                            <textarea class="form-control" name="experienced_in" id="experienced_in" rows="3"
                                placeholder="Experienced In" formControlName="experience_in"></textarea>
                        </div>

                        <div class="input-group mb-3">
                            <label for="inputGroupFile02" class="w-100">Garage Image</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile02"
                                    formControlName="photo" (change)="readFile($event)">
                                <label class="custom-file-label" for="inputGroupFile02"
                                    aria-describedby="inputGroupFileAddon02">Choose
                                    file</label>
                            </div>
                        </div>

                        <div class="d-block" *ngIf="details?.image">
                            <div class="d-flex image-display">
                                <img [src]="imageUrl + (details?.image)" alt="">
                            </div>
                        </div>

                        <div class="d-block mt-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" (click)="goBack()" class="btn btn-light ml-3">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>