<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <form>
                    <h5>Address Search</h5>
                    <div class="form-group">
                        <input type="text" class="form-control" name="" id="">
                    </div>
                    <button type="submit" class="btn btn-light">Search</button>
                </form>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <form>
                    <h5>Pin Code Search</h5>
                    <div class="form-group">
                        <input type="number" class="form-control" name="" id="">
                    </div>
                    <button type="submit" class="btn btn-light">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card mb-3" *ngFor="let item of [1,2,3,4,5]">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>