<div class="d-block mt-3">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="filterForm" (submit)="submit()">
                        <h6>Address Search</h6>
                        <div class="form-group">
                            <input type="text" placeholder="Address" class="form-control" name="" id=""
                                formControlName="address">
                        </div>
                        <button type="submit" class="btn btn-light">Search</button>
                    </form>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <form [formGroup]="filterForm" (submit)="submit()">
                        <h6>Pin Code Search</h6>
                        <div class="form-group">
                            <input type="number" placeholder="Pin Code" class="form-control" name=""
                                formControlName="pincode" id="">
                        </div>
                        <button type="submit" class="btn btn-light">Search</button>
                    </form>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <form [formGroup]="filterForm" (submit)="submit()">
                        <h6>Garage Name Search</h6>
                        <div class="form-group">
                            <input type="text" placeholder="Garage Name" class="form-control" name=""
                                formControlName="garage" id="">
                        </div>
                        <button type="submit" class="btn btn-light">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-8" *ngIf="garages?.length; else NoGarages">
            <div class="d-block" *ngIf="!bookingDetails">
                <h5>Mechanics/Garages</h5>
                <p class="mt-0">Matched Results: {{ garages?.length }}</p>
                <div class="card mb-3" *ngFor="let item of garages">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-stretch">
                            <div class="d-flex justify-content-center align-items-center align-self-center p-2">
                                <img [src]="imageUrl + item.image" alt="...">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ item?.title }}</h5>
                                <div class="d-block">
                                    <rating [(ngModel)]="item.rating" [max]="10" [readonly]="true"></rating>
                                </div>
                                <p class="card-text">{{ item?.description }}</p>

                                <div class="d-block mt-2 mb-3">
                                    <p class="card-text">
                                        {{ item?.address }}, {{ item?.pincode }}
                                    </p>
                                </div>
                                <p class="card-text">
                                    <span>Visiting Charges: <strong>{{ item?.visiting_charges }}</strong>, </span>
                                    <small class="text-muted ml-1">
                                        Last updated {{ item?.created_at | date: 'dd MMMM yyyy hh:mm a' }}
                                    </small>
                                </p>


                                <div class="d-block mt-2">
                                    <button class="btn btn-success btn-sm" (click)="openBookingModal(item)">
                                        Book Appointment
                                    </button>

                                    <a routerLink="/update-mechanic/{{ item.id }}"
                                        class="btn btn-info btn-sm ml-2">Update</a>
                                    <button class="btn btn-warning btn-sm ml-2"
                                        (click)="openDeleteModal(template, item)">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" *ngIf="bookingDetails">
                <div class="card-body">
                    <app-book-appointment (bookEmitter)="bookingDetails = $event" [garageDetails]="bookingDetails">
                    </app-book-appointment>
                </div>
            </div>

        </div>
    </div>
</div>




<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Are you sure you want to delete?</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Garage Name: <strong>{{ deleteGarage?.title }}</strong></p>
        <p>Created On: {{ deleteGarage?.created_at | date: 'dd MMMM yyyy hh:mm a' }}</p>

        <div class="d-flex justify-content-end align-items-center mt-4">
            <button class="btn btn-danger btn-sm" (click)="confirmDelete()">Delete Anyway</button>
        </div>
    </div>
</ng-template>

<ng-template #NoGarages>
    <div class="col-lg-8">
        <h5>Mechanics/Garages</h5>
        <p class="mt-0">Matched Results: {{ garages?.length }}</p>
        <div class="d-block mt-4">
            <h1 class="text-left">
                <i class="fa fa-frown-o" aria-hidden="true"></i>
            </h1>

            <span class="">No Records Found...</span>
        </div>
    </div>
</ng-template>